# Mac stuff
.DS_Store

# VSCode Stuff
.vscode/
**/.luarc.json

# Python
*/__pycache__/
.jupyter_cache_

# Quarto
.quarto
**/color_influence_pre-reg_anon_files/
**/color_influence_pre-reg_anon_cache/
**/figures/
**/prospectus_draft_fall_2022_files/
**/slides_files/
**/slides_cache/

# Things I want to keep mine
feedback/
archived/
**/memos/
assets/references.bib
**/prospectus/
/.luarc.json
